:root {
  --color-primary: #a445ed;
  --color-secondary: #757575;
  --color-tertiary: #f4f4f4;

  --font-inter: 'Inter', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-mono: 'Roboto Mono', monospace;
}
