.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .phonetic {
    color: var(--color-primary);
  }
  .play {
    cursor: pointer;
  }
}
.source {
  display: flex;
  gap: 2em;
  p {
    color: var(--color-secondary);
  }
  a {
    display: inline-flex;
    gap: 0.5em;
    color: #000;
  }
}
