.search {
  margin-top: 3rem;
  position: relative;
  &__input {
    width: 100%;
    padding-inline: 1em;
    padding-block: 1em;
    border-radius: 1em;
    border: none;
    background-color: var(--color-tertiary);
    outline: none;
    font-weight: 700;
  }
  &__input:focus {
    outline: 1px solid var(--color-primary);
  }
}
.icon-search {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 40%;
}
