.theme {
  display: flex;
  align-items: center;
  gap: 1em;
}
.switch {
  position: relative;
  display: block;
  background-color: var(--color-secondary);
  width: 4rem;
  height: 2rem;
  border-radius: 100vw;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: 5px;
    top: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
  }
}

input[type='checkbox']:checked + .switch::after {
  transform: translateX(30px);
}
input[type='checkbox']:checked + .switch {
  background: transparent;
  background-color: var(--color-primary);
}
.offscreen {
  display: none;
}
