.tooltip {
  background-color: #fff;
  right: 10rem;
  top: 3rem;
  position: absolute;
  transition: opacity 0.42s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  ul {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1em;
  }
  li {
    text-align: left;
    padding-block: 0.5em;
    padding-inline-start: 1em;
    padding-inline-end: 6em;

    cursor: pointer;
  }
}
.tooltip-show {
  opacity: 1;
  visibility: visible;
}
