li {
  list-style: none;
  &:hover {
    color: var(--color-primary);
  }
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
strong {
  font-size: 3em;
  font-weight: bold;
}
mark {
  background-color: transparent;
  color: var(--color-secondary);
  margin-block: 1.5em;
  display: inline-block;
  margin-right: 1.5em;
  font-size: 1.3em;
}
span {
  color: var(--color-primary);
  display: inline-block;
  margin-right: 0.5em;
}
