// inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;700&display=swap');
// noto serif
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');
// roboto mono
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700&display=swap');

.btn-menu {
  font-weight: bold;
}
body {
  font-family: var(--font-inter);
}
.sans-serif {
  font-family: var(--font-inter);
}
.serif {
  font-family: var(--font-serif);
}
.mono {
  font-family: var(--font-mono);
}
.cursive {
  font-style: italic;
}
