.flex {
  display: flex;
  align-items: center;
}
.flex-gap {
  display: flex;
  gap: 1em;
}
.padding-start {
  padding-inline-start: 2em;
  border-left: 1px solid #757575;
}
.padding-end {
  padding-inline-end: 2em;
}
.hover:hover {
  color: var(--color-primary);
}
.line {
  display: flex;
  align-items: center;
  gap: 2em;
  div {
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-left: 1em;
  li {
    list-style: inside;
    &::marker {
      color: var(--color-primary);
    }
    &:hover {
      color: inherit;
    }
  }
}
.error-input-search {
  color: red;
  margin-top: 0.5em;
  transition: opacity 0.42s;

  opacity: 0;
}
.error-input-search-show {
  opacity: 1;
}
